/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* Tipografía */
@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-Regular.woff2") format("woff2"),
    url("../font/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway02";
  src: url("../font/Raleway-Italic.woff2") format("woff2"),
    url("../font/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway03";
  src: url("../font/Raleway-Bold.woff2") format("woff2"),
    url("../font/Raleway-Bold.woff") format("woff");
}

/* Variables */
:root {
  /* Colores */
  --color-azul-claro: #add8e6;
  --color-azul-oscuro: #0a1c22;
  --color-gris-suave: #d3d3d3;
  --color-gris-claro: #d3d3d321;
  --color-rojo-claro: #ff5f5f;
  --color-verde-menta: #1c475f;
  --color-verde-claro: #98fb98;

  /* Tamaños Fuente */
  --tam-h1: 1.8em;
  --tam-h2: 1.4em;
  --tam-h3: 1.2em;
  --tam-h4: 1em;
  --tam-h5: 0.75em;
  --tam-h6: 0.5em;
  --tam-p: 1em;
}

/* Fondo */
:root {
  --fondo-diseno: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='430' height='930' preserveAspectRatio='none' viewBox='0 0 430 930'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1105%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1112' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1112' x='0' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1105'%3e%3crect width='430' height='930' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1107'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1108'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1110'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1109'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1106'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1111'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1112'%3e%3cuse xlink:href='%23SvgjsPath1106' x='30' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1107' x='30' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='30' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1107' x='30' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='30' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='30' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='30' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1107' x='30' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='30' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='90' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='90' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='90' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='90' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='90' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='90' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='90' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1107' x='90' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='90' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='90' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='90' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='90' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1111' x='150' y='30' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='150' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='150' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='150' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='150' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='150' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1111' x='150' y='390' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='150' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='150' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='150' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='150' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='210' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='210' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='210' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='210' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='210' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='210' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='210' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='210' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='210' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1111' x='210' y='630' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='210' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='270' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='270' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='270' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='270' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='270' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='270' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='270' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1107' x='270' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1107' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='270' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='270' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='330' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='330' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='330' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='330' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1111' x='330' y='270' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='330' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='330' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='330' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='330' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='330' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='330' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1111' x='330' y='690' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='390' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1107' x='390' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='390' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='390' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='390' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='390' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='390' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='390' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='390' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1111' x='390' y='570' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='390' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='390' y='690' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1107' x='450' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1109' x='450' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1111' x='450' y='150' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='450' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1106' x='450' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='450' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='450' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='450' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1107' x='450' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='450' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1108' x='450' y='630' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1110' x='450' y='690' stroke='%231c538e'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

/* Animacion */
@keyframes show {
  from {
    opacity: 0;
    scale: 50%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

html {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: var(--color-gris-suave);
  background: var(--color-azul-oscuro);
}

/* Estilos genericos */
#container,
#container__inicio,
#container__ejercicio01 {
  width: max-width(320px, 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Aparatado del Contenedor del Index */
#container {
  /* Contenido */
  & .main__portada {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    & .main__portada__img {
      width: 25%;
      filter: drop-shadow(0px 0px 15px #0a1c22);
    }

    /* Titulo Comienzo */
    .main__portada__titulo {
      font-family: "Raleway03", sans-serif;
      font-size: clamp(var(--tam-h6), 5vw, 2em);
      color: var(--color-gris-suave);
      text-align: center;
      filter: drop-shadow(0px 0px 15px #0a1c22);
    }

    /* Boton Empezar */
    & .main__portada__boton {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffffff03;
      border-radius: 10px;
      padding-bottom: 10px;
      backdrop-filter: blur(29px);

      & a {
        position: relative;
        width: fit-content;
        font-family: "Raleway-Bold", Helvetica;
        color: var(--color-gris-suave);
        text-decoration: none;
        font-size: 1.5rem;
        padding: 10px 60px;

        & ::hover {
          border: 1px solid var(--color-gris-suave);
        }
      }

      & .flecha {
        position: relative;
        width: 20px;
        height: 15px;
        transform: rotate(90deg);
        z-index: 10;
      }
    }
  }

  /* Retina Display */
  /* Móvil */
  @media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
    @media (-webkit-min-device-pixel-ratio: 1) {
      background: url(../img/smartphone/Img_fondo.webp),
        linear-gradient(
          0deg,
          rgba(10, 28, 34, 0.56) 1.39%,
          rgba(217, 217, 217, 0) 75.64%
        );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (-webkit-min-device-pixel-ratio: 2) {
      background: url(../img/smartphone/Img_fondo@2x.webp),
        linear-gradient(
          0deg,
          rgba(10, 28, 34, 0.56) 1.39%,
          rgba(217, 217, 217, 0) 75.64%
        );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (-webkit-min-device-pixel-ratio: 3) {
      background: url(../img/smartphone/Img_fondo@3x.webp),
        linear-gradient(
          0deg,
          rgba(10, 28, 34, 0.56) 1.39%,
          rgba(217, 217, 217, 0) 75.64%
        );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  /* Animación push up al cambiar de página */
  .container.push-up {
    transform: translateY(-100%);
  }
}

/* Apartado del Contenedor de Inicio */
#container__inicio {
  /* padding: 140px 0 0 0px; */
  height: auto;
  justify-content: space-between;

  & .container__inicio-volver {
    & :is(img) {
      /* position: relative; */
      width: 40px;
      height: 25px;
      transform: rotate(180deg);
      margin: 60px 0;
    }
  }

  /* Apartado de las cartas */
  /* Carta 01 */
  .main__carta01,
  .main__carta02,
  .main__carta03 {
    width: 300px;
    height: 340px;
    border-radius: 26px;
    background-color: var(--color-verde-menta);
    box-shadow: 0px 0px 15.12px 0px rgba(239, 239, 250, 0.1);
    margin-bottom: 60px;

    /* Parte de la animación */
    view-timeline: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 20% cover 30%;
    animation-fill-mode: both;

    /* Apartado de header de la carta */
    & .main__carta01-header,
    .main__carta02-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      /* Parte del titulo */
      & .main__carta01-header-tag,
      .main__carta02-header-tag,
      .main__carta03-header-tag {
        background-color: var(--color-gris-claro);
        width: fit-content;
        padding: 0px 8px;
        border-radius: 15px;

        &::before {
          content: "";
          background: url("../svg/verificado.svg") no-repeat;
          background-size: 16px 16px;
          vertical-align: auto;
          border-color: var(--color-verde-claro);

          display: inline-block;
          width: 16px;
          height: 16px;
          margin: 5px 0px 0px 0px;
        }
      }
    }

    /* Apartado del centro de la carta */
    & .main__carta01-centro,
    .main__carta02-centro,
    .main__carta03-centro {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
      background-color: var(--color-gris-claro);
      width: fit-content;
      margin: auto;
      border-radius: 50%;
    }

    /* Parte del titulo  */
    & .main__carta01-titulo,
    .main__carta02-titulo,
    .main__carta03-titulo {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: left;
      padding: 0 20px;

      /* Primero */
      & h6:first-child {
        font-size: var(--tam-h3);
      }
    }

    /* Apartado del boton de la carta */
    & .main__carta01-enlace,
    .main__carta02-enlace,
    .main__carta03-enlace {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      /* Parte del enlace */
      & a {
        text-decoration: none;
        color: var(--color-azul-oscuro);
        font-size: var(--tam-h3);
        font-family: "Raleway03", sans-serif;
        text-transform: uppercase;
        background-color: var(--color-gris-suave);
        padding: 5px 100px;
        border-radius: 10px;
      }
    }
  }

  /* Carta 02 */
  .main__carta02 {
    background: #568392;

    & .main__carta01-header-tag::before {
      content: none;
    }
  }
  /* Carta 03 */
  .main__carta03 {
    background: #3ea469;
  }

  /* Apartado del footer */
  & .container__inicio-footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;

    border-top: 1px solid var(--color-gris-suave);
    background-color: var(--color-gris-claro);

    & img {
      width: 80px;
    }

    .container__inicio-footer-menu {
      list-style: none;
      text-align: center;
      line-height: 40px;
    }

    .container__inicio-footer-redes {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 0 100px;

      & img {
        width: 30px;
      }
    }
  }
}

/* Apartado de la pagina ejercicio_01 */
#container__ejercicio01 {
  .outer-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--color-verde-menta);
    position: relative;
  }

  .inner-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--color-azul-oscuro);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .inner__inner-circule {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-azul-claro);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
